<ng-container *ngIf="tabelasPrecos">
  <ion-header>
    <ion-toolbar class="ion-text-center" color="primary">
      <ion-title>Tabelas de preços</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content forceOverscroll="true">
    <app-view-container>
      <ng-container *ngIf="tabelasPrecos">
        <app-card-categorias (botaoAdicionarEmitter)="apresentarAlerta()"
          (botaoSelecionarEmitter)="selecionarLista($event)" (botaoRemoverEmitter)="removerTabela()"
          [lista]="tabelasPrecos">
          <ng-container *ngIf="tabelaPrecosForm.controls.itens">
            <app-input-form label="Nome da Lista" [controleFormulario]="tabelaPrecosForm.controls.nome">
            </app-input-form>
            <ng-container *ngFor="let exame of tabelaPrecosForm.controls.itens['controls']">
              <ion-row [formGroup]="exame">
                <ion-col>
                  <ion-input formControlName='nome'></ion-input>
                </ion-col>
                <ion-col>
                  <ion-input formControlName='valor'></ion-input>
                </ion-col>
              </ion-row>

            </ng-container>
          </ng-container>
        </app-card-categorias>
      </ng-container>
    </app-view-container>
  </ion-content>
  <ion-footer>
    <ion-toolbar class="ion-text-center">
      <ion-button (click)="voltar()" color="secondary">
        Voltar
      </ion-button>
      <ion-button (click)="salvar()" color="success">
        Salvar
      </ion-button>
    </ion-toolbar>
  </ion-footer>
</ng-container>