<ng-container *ngIf="examesCarregado">
  <ion-header>
    <ion-toolbar class="ion-text-center" color="primary">
      <ion-title>Modificar Exames</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <app-view-container>
      <!-- Exames -->
      <app-input-form [controleFormulario]="form.controls.nome" label="Nome"></app-input-form>
      <app-input-busca
        [listaString]="listaCategorias.itens"
        label="Categoria"
        [controleFormulario]="form.controls.categoria"
      ></app-input-busca>
      <app-input-form [controleFormulario]="form.controls.valor" label="Valor"></app-input-form>
      <!-- Card Lista de Campos -->
      <ion-row>
        <ion-col>
          <app-exames-form-campos
            [campos]="form.value.campos"
            [campoSelecionado]="examesFormService.campoSelecionado"
            [campoSelecionadoIndice]="examesFormService.campoSelecionadoIndice"
            [especieSelecionada]="examesFormService.especieSelecionada"
            [especieSelecionadaIndice]="examesFormService.especieSelecionadaIndice"
            [listaEspecies]="listaEspecies"
            [listaTipoDeDado]="listaTipoDeDado"
            [referencias]="examesFormService.referencias"
            (campoSelecionadoIndiceEmmiter)="selecionarCampo($event)"
            (adicionarCampoEmmiter)="adicionarCampoForm()"
            (removerCampoEmmiter)="removerCampoForm()"
            (especieSelecionadaIndiceEmmiter)="selecionarEspecie($event)"
            (adicionarEspecieEmmiter)="adicionarEspecieForm($event)"
            (removerEspecieEmmiter)="removerEspecieForm()"
            (adicionarReferenciaEmmiter)="adicionarReferenciaForm()"
            (removerReferenciaEmmiter)="removerReferenciaForm($event)"
          ></app-exames-form-campos>
        </ion-col>
      </ion-row>

      <ion-footer>
        <ion-toolbar class="ion-text-center">
          <ion-button (click)="voltar()" color="secondary">
            Voltar
          </ion-button>
          <ion-button (click)="salvar()" color="success">
            Salvar
          </ion-button>
        </ion-toolbar>
      </ion-footer>
    </app-view-container>
  </ion-content>
</ng-container>
