ion-badge {
  margin-left: 3px;
  padding: 3px;
  font-size: 10px;
}

.exame-aguardandoResultados {
  border-style: double;
  background-color: white;
  color: red;
  border-color: red;
}
.exame-aguardandoLiberacao {
  border-style: double;
  background-color: white;
  color: rgb(233, 115, 19);
  border-color: (233, 115, 19);
}

.exame-Finalizado {
  border-style: double;
  background-color: white;
  color: green;
  border-color: green;
}

ion-input {
  font-size: small;
}

ion-card {
  height: 100%;
}

.req-aguardandoAmostras {
  background-color: var(--ion-color-danger);
  color: var(--ion-color-danger-contrast);
  margin: 0;
  padding: 0;
}
.req-aguardandoResultados {
  background-color: var(--ion-color-warning);
  color: var(--ion-color-warning-contrast);
  margin: 0;
  padding: 0;
}
.req-aguardandoLiberacao {
  background-color: var(--ion-color-secondary);
  color: var(--ion-color-secondary-contrast);

  margin: 0;
  padding: 0;
}
.req-finalizado {
  background-color: var(--ion-color-success);
  color: var(--ion-color-success-contrast);
  margin: 0;
  padding: 0;
}
