<ion-card (click)="emitirAtualizar(requisicao)">
  <ion-card-header color="primary">
    <ion-card-title>{{ requisicao.nomeAnimal }}</ion-card-title>
  </ion-card-header>

  <ion-row
    class="ion-text-center"
    [ngClass]="
      requisicao.situacao === 'Finalizado'
        ? 'req-finalizado'
        : requisicao.situacao === 'Aguardando Liberação'
        ? 'req-aguardandoLiberacao'
        : requisicao.situacao === 'Aguardando Resultados'
        ? 'req-aguardandoResultados'
        : 'req-aguardandoAmostras'
    "
  >
    <ion-col class="datas">{{ requisicao.situacao }}</ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="datas">
      <ion-icon name="arrow-round-up"></ion-icon>

      <small>
        {{
          requisicao.coleta
            ? (requisicao.coleta.toDate().toISOString() | date: 'dd/MM/yyyy HH:mm')
            : 'Pendente'
        }}
      </small>
    </ion-col>
    <ion-col class="ion-text-right datas">
      <ion-icon name="arrow-round-down"></ion-icon>

      <small>
        {{
          requisicao.resultado
            ? (requisicao.resultado.toDate().toISOString() | date: 'dd/MM/yyyy HH:mm')
            : 'Pendente'
        }}
      </small>
    </ion-col>
  </ion-row>

  <ion-item>
    <ion-label position="stacked">Tutor</ion-label>
    <ion-input value="{{ requisicao.tutor }}" readonly></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Veterinário</ion-label>
    <ion-input value="{{ requisicao.veterinarioSolicitante }}" readonly></ion-input>
  </ion-item>
  <ion-item>
    <ion-row class="ion-text-center">
      <ion-col class="ion-text-center">
        <ion-badge
          *ngFor="let exame of requisicao.exames"
          [ngClass]="
            exame.situacao === 'Aguardando Resultados'
              ? 'exame-aguardandoResultados'
              : exame.situacao === 'Aguardando Liberação'
              ? 'exame-aguardandoLiberacao'
              : 'exame-Finalizado'
          "
        >
          {{ exame.nome }}
        </ion-badge>
      </ion-col>
    </ion-row>
  </ion-item>
</ion-card>
