<ion-card>
  <ion-card-header color="primary">
    <ion-title class="ion-text-center">{{titulo}}</ion-title>
  </ion-card-header>

  <ion-row
    class="ion-text-center"
    *ngIf="!semBarra"
  >
    <ion-col>
      <ion-button
        size="small"
        color="success"
        (click)="emitirAdicionar()"
      >
        <ion-icon
          name="add"
          slot="icon-only"
        ></ion-icon>
      </ion-button>
      <ion-button
        *ngIf="botaoEditar"
        size="small"
        color="primary"
        (click)="emitirEditar()"
      >
        <ion-icon
          name="create"
          slot="icon-only"
        ></ion-icon>
      </ion-button>
      <ion-button
        color="danger"
        size="small"
        (click)="emitirRemover()"
      >
        <ion-icon
          name="trash"
          class="icon-remove"
          slot="icon-only"
        ></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-card-content>
    <!-- Botões - Lista de Campos -->
    <ion-row>
      <ion-col class="ion-text-center">
        <app-lista-botoes
          [grupo]="grupo"
          [lista]="lista"
          [botaoSelecionadoIndice]="botaoSelecionadoIndice"
          (selecionarEmitter)="emitirSelecionar($event)"
        ></app-lista-botoes>
      </ion-col>
    </ion-row>
    <!-- Formulário Campos -->
    <ng-content></ng-content>
  </ion-card-content>
</ion-card>
