<ion-header>
  <ion-toolbar
    class="ion-text-center"
    color="primary"
  >
    <ion-title>Configurações</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <app-view-container titulo="Lista de Exames">
    <ion-item routerLink="/configuracoes/exames">Exames</ion-item>
    <ion-item routerLink="/configuracoes/listas">Listas</ion-item>
  </app-view-container>
</ion-content>
