<ion-header>
  <ion-toolbar
    class="ion-text-center"
    color="primary"
  >
    <ion-title>Listas</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <app-view-container>
    <app-card-categorias
      [lista]="listas"
      (botaoAdicionarEmitter)="adicionarLista()"
      (botaoSelecionarEmitter)="selecionarLista($event)"
    >
      <ion-grid>
        <!-- Cabeçalho -->
        <ion-row class="tabHeader ion-align-items-center">
          <ion-col class="ion-text-center">Itens</ion-col>
          <ion-col size="auto">
            <ion-button
              size="small"
              color="success"
              (click)="adicionarItem()"
            >
              <ion-icon
                name="add"
                slot="icon-only"
              ></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
        <!-- Itens -->
        <ng-container *ngIf="listaSelecionada">
          <ng-container *ngIf="listaSelecionada.itens">
            <ion-row
              class=" ion-align-items-center"
              *ngFor="let item of listaSelecionada.itens; let i = index; trackBy:trackByFn"
            >
              <ion-col class="ion-text-center">
                <ion-input [(ngModel)]="listaSelecionada.itens[i]"></ion-input>
              </ion-col>
              <ion-col size="auto">
                <ion-button
                  size="small"
                  color="danger"
                  (click)="removerItem(i)"
                >
                  <ion-icon
                    name="trash"
                    slot="icon-only"
                  ></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>
          </ng-container>
        </ng-container>
      </ion-grid>
    </app-card-categorias>
  </app-view-container>
</ion-content>

<ion-footer>
  <ion-toolbar class="ion-text-center">
    <ion-button
      (click)="voltar()"
      color="secondary"
    >
      Voltar
    </ion-button>
    <ion-button
      (click)="salvar()"
      color="success"
    >
      Salvar
    </ion-button>

  </ion-toolbar>
</ion-footer>
