<ion-grid>
  <ion-row>
    <ion-col></ion-col>
    <ion-col
      size-xs="12"
      size-md="9"
      size-lg="8"
      size-xl="6"
    >
      <ng-content></ng-content>
    </ion-col>
    <ion-col></ion-col>
  </ion-row>
</ion-grid>
