<!-- Com formControl -->
<ion-item *ngIf="controleFormulario">
  <ion-label position="stacked">{{ label }}</ion-label>
  <ion-input #box [formControl]="controleFormulario" (ionFocus)="modal()"></ion-input>
</ion-item>

<!-- Sem formControl -->
<ion-item *ngIf="!controleFormulario">
  <ion-label position="stacked">{{ label }}</ion-label>
  <ion-input #box (ionFocus)="modal()"></ion-input>
</ion-item>
