<app-card-categorias
  titulo="Campos"
  [lista]="campos"
  [botaoSelecionadoIndice]="campoSelecionadoIndice"
  (botaoSelecionarEmitter)="campoSelecionadoEmitter($event)"
  (botaoAdicionarEmitter)="adicionarCampo()"
  (botaoRemoverEmitter)="removerCampo()"
>
  <div *ngIf="campoSelecionado">
    <ion-row>
      <ion-col>
        <app-input-form
          [controleFormulario]="campoSelecionado.controls.nome"
          label="Nome"
        ></app-input-form>
        <app-input-form
          [controleFormulario]="campoSelecionado.controls.unidade"
          label="Unidade"
        ></app-input-form>
        <app-input-form
          [controleFormulario]="campoSelecionado.controls.ordem"
          label="Ordem"
        ></app-input-form>
        <app-input-form
          [controleFormulario]="campoSelecionado.controls.subcategoria"
          label="Subcategoria"
        >
        </app-input-form>
        <app-input-form
          [controleFormulario]="campoSelecionado.controls.valorPadrao"
          label="Valor Padrão"
        >
        </app-input-form>
        <app-input-busca
          [listaString]="listaTipoDeDado.itens"
          label="Tipo de Dado"
          [controleFormulario]="campoSelecionado.controls.tipoDeDado"
        >
        </app-input-busca>
      </ion-col>
    </ion-row>
    <app-exames-form-tabela
      [especies]="campoSelecionado.value.especies"
      [especieSelecionada]="especieSelecionada"
      [especieSelecionadaIndice]="especieSelecionadaIndice"
      [listaEspecies]="listaEspecies"
      [referencias]="referencias"
      (especieSelecionadaIndiceEmmiter)="especieSelecionadaEmitter($event)"
      (adicionarEspecieEmitter)="adicionarEspecie()"
      (removerEspecieEmitter)="removerEspecie()"
      (adicionarReferenciaEmitter)="adicionarReferencia()"
      (removerReferenciaEmitter)="removerReferencia($event)"
    >
    </app-exames-form-tabela>
  </div>
</app-card-categorias>
