<ion-app>

  <ion-router-outlet>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button
          tab="home"
          routerLink="/home"
          routerDirection="root"
        >
          <ion-icon name="home"></ion-icon>
          <ion-label>Home</ion-label>
        </ion-tab-button>

        <ion-tab-button
          tab="requisicoes"
          routerLink="/requisicoes"
          routerDirection="root"
        >
          <ion-icon name="clipboard"></ion-icon>
          <ion-label>Requisicões</ion-label>
        </ion-tab-button>

        <ion-tab-button
          tab="configuracoes"
          routerLink="/configuracoes"
          routerDirection="root"
        >
          <ion-icon name="settings"></ion-icon>
          <ion-label>Configurações</ion-label>
        </ion-tab-button>

      </ion-tab-bar>
    </ion-tabs>
  </ion-router-outlet>
</ion-app>
