<ion-item>
  <ion-label position="stacked">
    {{label}}
    <ng-container *ngIf="(controleFormulario.dirty || controleFormulario.touched)">
      <ng-container *ngFor="let erro of obterErros()">
        <span class="erro">&nbsp;&nbsp;&nbsp;&nbsp;{{erro}}</span>
      </ng-container>
    </ng-container>
  </ion-label>
  <!-- Caixa com máscara -->
  <ion-input *ngIf="mask" (keyup)="obterErros()" [formControl]="controleFormulario" debounce="200" [type]='tipoControle'
    [brmasker]="mask"></ion-input>
  <!-- Caixa sem máscara -->
  <ion-input *ngIf="!mask" (keyup)="obterErros()" [formControl]="controleFormulario" debounce="200"
    [type]='tipoControle'></ion-input>
</ion-item>