<ng-container>
  <ion-header>
    <ion-toolbar class="ion-text-center" color="primary">
      <ion-title>Requisições</ion-title>
    </ion-toolbar>
    <ion-searchbar
      (ionChange)="filtrarTexto($event)"
      placeholder="Pesquise por nome, tutor ou veterinário"
    ></ion-searchbar>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item>
            <ion-label position="stacked">Pesquise por Situação</ion-label>
            <ion-select
              placeholder="Selecione"
              (ionChange)="filtrar($event)"
              interface="popover"
            >
              <ion-select-option value="Aguardando Amostras"
                >Aguardando Amostras</ion-select-option
              >
              <ion-select-option value="Aguardando Resultados"
                >Aguardando Resultados</ion-select-option
              >
              <ion-select-option value="Aguardando Liberação"
                >Aguardando Liberação</ion-select-option
              >
              <ion-select-option value="Finalizado"
                >Finalizado</ion-select-option
              >
            </ion-select>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-header>
  <ion-row class="ion-text-center">
    <ion-col>
      <ion-button color="success" [routerLink]="['/requisicoes/criar']">
        Adicionar Requisição
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-content>
    <ion-radio-group (ionChange)="filtrar($event)"> </ion-radio-group>
    <ion-grid>
      <ion-row>
        <ion-virtual-scroll
          [items]="requisicoesService.items$ | async"
          approxItemHeight="280px"
        >
          <ion-col
            class="ion-align-self-stretch"
            *virtualItem="let requisicao; let itemBounds = bounds;"
          >
            <!-- *ngIf="requisicao" -->
            <app-requisicoes-lista-item
              [requisicao]="requisicao"
              (atualizar)="atualizarRequisicao($event)"
              (excluir)="onDelete($event)"
            ></app-requisicoes-lista-item>
          </ion-col>
        </ion-virtual-scroll>
      </ion-row>
    </ion-grid>
  </ion-content>
</ng-container>
<ng-template #loading>Loading stuff...</ng-template>
