<ion-card>
  <ion-card-header color="primary ion-text-center">{{
    titulo
  }}</ion-card-header>
  <app-input-form
    *ngIf="estado === 'cadastro'"
    label="Nome"
    [controleFormulario]="formGrupo.controls.nome"
  >
  </app-input-form>
  <app-input-form
    *ngIf="estado === 'cadastro'"
    label="Telefone"
    [controleFormulario]="formGrupo.controls.telefone"
  >
  </app-input-form>
  <app-input-form
    label="Email"
    [controleFormulario]="formGrupo.controls.email"
  ></app-input-form>
  <app-input-form
    label="Senha"
    [controleFormulario]="formGrupo.controls.senha"
  ></app-input-form>
  <app-input-form
    *ngIf="estado === 'cadastro'"
    label="Confirmar Senha"
    [controleFormulario]="formGrupo.controls.confirmarSenha"
  ></app-input-form>
  <div class="ion-text-center">
    <ion-button
      color="secondary"
      (click)="alterarEstado()"
      *ngIf="estado === 'cadastro'"
    >
      Cancelar
    </ion-button>
    <ion-button
      (click)="cadastrarUsuario()"
      color="success"
      *ngIf="estado === 'cadastro'"
      [disabled]="formGrupo.invalid"
    >
      Cadastrar
    </ion-button>
    <ion-button
      (click)="realizarLogin()"
      *ngIf="estado === 'login'"
      [disabled]="formGrupo.invalid"
      color="success"
    >
      Login
    </ion-button>

    <ng-content></ng-content>
    <ion-row class="ion-text-center">
      <!-- <ion-col>
        <br />
        <ion-note (click)="alterarEstado()" color="primary" *ngIf="estado === 'login'">
          Não tem cadastro? Clique aqui
        </ion-note>
      </ion-col> -->
    </ion-row>
  </div>
</ion-card>
