<ng-container *ngIf="lista">
  <ion-button
    *ngFor="let elemento of lista ; let i = index"
    [color]="botaoSelecionadoIndice === i ? 'secondary' : 'success'"
    (click)="emitirSelecionar(i)"
    size='small'
    [id]="elemento.nome"
  >
    {{elemento.nome}}
  </ion-button>
</ng-container>

<ng-container *ngIf="grupo">
  <ion-button
    *ngFor="let controle of grupo.controls ; let i = index"
    [color]="controle.value.situacao === 'Aguardando Liberação' ? 'warning' : controle.value.situacao === 'Finalizado' ? 'success' : 'danger'"
    (click)="emitirSelecionar(i)"
    size='small'
    [fill]="botaoSelecionadoIndice === i ? 'outline' : 'clear'"
    [strong]="botaoSelecionadoIndice === i ? 'true' : 'false'"
  >
    {{controle.value.nome}}
  </ion-button>
</ng-container>
