<ion-header>
  <ion-toolbar
    class="ion-text-center"
    color="primary"
  >
    <ion-title>Dados do Usuário</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  <app-view-container>
    <ion-card *ngIf="auth.authState$ | async as usuario">
      <ion-card-header color="primary">{{ usuario.displayName  }}</ion-card-header>
      <ion-item>UID:  {{ usuario.uid }}</ion-item>
      <ion-item>Email:  {{ usuario.email }}</ion-item>
      <!-- <ion-item>Telefone:  {{ usuario.telefone }}</ion-item> -->

      <ion-button
        (click)="logout()"
        color="danger"
        class="ion-float-right"
      >
        Logout
      </ion-button>

    </ion-card>
  </app-view-container>

</ion-content>

<!-- User logged in -->
