<ion-content>
  <ion-searchbar
    #input
    placeholder="Busca"
    autofocus="true"
    (ionChange)="onInputChange($event)"
    debounce="200"
  ></ion-searchbar>
  <!-- Array de objeto -->
  <ng-container *ngIf="listaObjeto || indice">
    <ion-item *ngFor="let item of listaFiltrada; let i = index" (click)="onItemClick(item)">
      <ion-label>{{ item[propriedadeBuscada] }}</ion-label>
    </ion-item>
  </ng-container>
  <!-- Array de string -->
  <ng-container *ngIf="listaString">
    <ion-item *ngFor="let item of listaFiltrada; let i = index" (click)="onItemClick(item)">
      <ion-label>{{ item }}</ion-label>
    </ion-item>
  </ng-container>
  <ion-button *ngIf="!obrigatorio" class="ion-float-right" (click)="onButtonClick()">
    OK
  </ion-button>
</ion-content>
