<ion-header>
  <ion-toolbar
    class="ion-text-center"
    color="primary"
  >
    <ion-title>Modificar Exames</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <app-view-container titulo="Lista de Exames">
    <app-card-categorias
      [lista]="dados"
      botaoEditar="true"
      (botaoAdicionarEmitter)="adicionarExame()"
      (botaoEditarEmitter)="editarExame()"
      (botaoRemoverEmitter)="removerExame()"
      (botaoSelecionarEmitter)="selecionarExame($event)"
    >
      <ion-card
        *ngIf="exameSelecionado"
        class="ion-text-center"
      >
        <ion-row class="header">
          <ion-col>Valor</ion-col>
        </ion-row>
        <ion-row>
          <ion-col>{{exameSelecionado.valor}}</ion-col>
        </ion-row>
        <ion-row class="header">
          <ion-col>Campos</ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-badge
              *ngFor="let campo of exameSelecionado.campos"
              color="success"
            >
              {{campo.nome}}
            </ion-badge>
          </ion-col>
        </ion-row>

      </ion-card>

    </app-card-categorias>
  </app-view-container>
  <ion-content></ion-content>
</ion-content>
