<ng-container *ngIf="requisicaoCarregada">
  <ion-header>
    <ion-toolbar class="ion-text-center" color="primary">
      <ion-title>Modificar Requisição</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content forceOverscroll="true">
    <app-view-container>
      <ion-segment (ionChange)="onAba($event)" color="secondary" value="dados">
        <ion-segment-button value="dados">
          <ion-label>Dados</ion-label>
        </ion-segment-button>
        <ion-segment-button value="exames">
          <ion-label>Exames</ion-label>
        </ion-segment-button>
        <ion-segment-button value="resultados" *ngIf="isAdmin">
          <ion-label>Resultados</ion-label>
        </ion-segment-button>
      </ion-segment>

      <!-- Dados -->
      <ng-container *ngIf="aba==='dados'">
        <app-input-form
          [controleFormulario]="form.controls.nomeAnimal"
          label="Nome do Animal"
        ></app-input-form>
        <ng-container *ngIf="requisicoesFormService.listaEspecies">
          <app-input-busca
            [listaString]="requisicoesFormService.listaEspecies.itens"
            label="Espécie"
            [controleFormulario]="form.controls.especie"
            obrigatorio="true"
            (ionChange)="atualizarReferencias()"
          ></app-input-busca>
        </ng-container>
        <app-input-form
          label="Raça"
          [controleFormulario]="form.controls.raca"
        ></app-input-form>
        <app-input-busca
          [listaString]="['Macho', 'Fêmea']"
          label="Sexo"
          [controleFormulario]="form.controls.sexo"
          obrigatorio="true"
        ></app-input-busca>

        <app-input-form
          label="Idade(meses)"
          [controleFormulario]="form.controls.idade"
          (ionFocus)="openPicker($event)"
          (ionChange)="atualizarReferencias()"
        ></app-input-form>
        <app-input-form
          label="Tutor"
          [controleFormulario]="form.controls.tutor"
        ></app-input-form>
        <app-input-busca
          *ngIf="isAdmin"
          label="Veterinário Solicitante"
          indice="prod_USUARIOS"
          propriedadeBuscada="nome"
          (itemSelecionado)="definirUsuarioAssociado($event)"
          [controleFormulario]="form.controls.veterinarioSolicitante"
          db="true"
        >
        </app-input-busca>

        <app-input-form
          *ngIf="!isAdmin"
          label="Veterinário Solicitante"
          [controleFormulario]="form.controls.veterinarioSolicitante"
        ></app-input-form>
        <app-input-form
          label="Clínica Solicitante"
          [controleFormulario]="form.controls.clinicaSolicitante"
        >
        </app-input-form>
        <ion-item [formGroup]="form">
          <ion-label position="stacked">Data da Coleta</ion-label>
          <ion-datetime
            displayFormat="DD/MM/YYYY HH:mm"
            [formGroup]="form"
            formControlName="coleta"
            cancelText="Cancelar"
            doneText="OK"
            min="2019"
          >
          </ion-datetime>
        </ion-item>
        <ion-item [formGroup]="form">
          <ion-label position="stacked">Data do Resultado</ion-label>
          <ion-datetime
            displayFormat="DD/MM/YYYY HH:mm"
            [formGroup]="form"
            formControlName="resultado"
            cancelText="Cancelar"
            doneText="OK"
            min="2019"
          >
          </ion-datetime>
        </ion-item>

        <app-input-form
          label="Observações"
          [controleFormulario]="form.controls.observacoes"
        ></app-input-form>
        <app-input-form
          class="ion-hide"
          label="Cadastrado por:"
          [controleFormulario]="form.get('autor.email')"
        >
        </app-input-form>
        <app-input-form
          class="ion-hide"
          label="uid"
          [controleFormulario]="form.get('autor.uid')"
        >
        </app-input-form>
        <app-input-busca
          label="Usuário Associado"
          indice="prod_USUARIOS"
          propriedadeBuscada="nome"
          (itemSelecionado)="definirUsuarioAssociado($event)"
          [controleFormulario]="form.get('usuarioAssociado.email')"
          db="true"
          obrigatorio="true"
        >
        </app-input-busca>
        <app-input-form
          label="uid"
          [controleFormulario]="form.get('usuarioAssociado.uid')"
        >
        </app-input-form>
      </ng-container>
      <!-- Exames -->
      <ng-container *ngIf="aba==='exames'">
        <ng-container *ngIf="requisicoesFormService.listaTabelasPrecos">
          <app-input-busca
            label="Escolha a Tabela de Preços"
            [listaObjeto]="requisicoesFormService.listaTabelasPrecos.itens"
            propriedadeBuscada="nome"
            (itemSelecionado)="obterTabelaPrecos($event)"
            obrigatorio="true"
            [controleFormulario]="form.controls.tabelaPrecos"
          >
          </app-input-busca>
          <ng-container *ngIf="requisicoesFormService.tabelaPrecos">
            <app-input-busca
              label="Escolha o exame"
              [listaObjeto]="requisicoesFormService.tabelaPrecos.itens"
              propriedadeBuscada="nome"
              (itemSelecionado)="adicionarExame($event)"
              obrigatorio="true"
            ></app-input-busca>
          </ng-container>
        </ng-container>
        <ion-list>
          <ion-row class="ion-align-items-center ion-text-center">
            <ion-col class="header">Exames</ion-col>
          </ion-row>
          <ion-row class="ion-align-items-center ion-text-center">
            <ion-col>
              <ion-badge
                *ngFor="let exame of requisicoesFormService.form.value.exames; let i = index"
                (click)="removerExame(i)"
                color="success"
              >
                {{ exame.nome }} - R$ {{ exame.valor }}
              </ion-badge>
            </ion-col>
          </ion-row>

          <ion-row class="ion-align-items-center ion-text-center">
            <ion-col class="header">Valor</ion-col>
          </ion-row>
          <ion-row>
            <ion-col></ion-col>
            <ion-col>
              <ion-row>
                <ion-col>Total</ion-col>
                <ion-col>
                  R$
                  <span class="direita"
                    >{{total.toFixed(2).replace('.', ',')}}</span
                  >
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>Desconto</ion-col>
                <ion-col>
                  R$
                  <span class="direita">10,00</span>
                </ion-col>
              </ion-row>
            </ion-col>

            <ion-col></ion-col>
          </ion-row>
        </ion-list>
      </ng-container>
      <!-- Resultados -->
      <ng-container *ngIf="aba==='resultados'">
        <ng-container *ngIf="requisicoesFormService.exames">
          <ion-row class="ion-text-center">
            <ion-col size="6">
              <ion-item class="toggle" lines="none">
                <ion-label position="stacked">Amostra Recebida</ion-label>
                <ion-toggle
                  class="toggleResultado"
                  [checked]="form.value.situacao !== 'Aguardando Amostras'"
                  color="success"
                  (ionChange)="receberAmostra($event)"
                ></ion-toggle>
              </ion-item>
            </ion-col>
            <ion-col size="6">
              <ion-item class="toggle" lines="none">
                <ion-label position="stacked">Liberar Requisição</ion-label>
                <ion-toggle
                  class="toggleResultado"
                  [checked]="form.value.situacao === 'Finalizado'"
                  [disabled]="form.value.situacao === 'Aguardando Resultados' || form.value.situacao === 'Aguardando Amostras'"
                  color="success"
                  (ionChange)="liberarResultado($event)"
                ></ion-toggle>
              </ion-item>
            </ion-col>
          </ion-row>

          <app-card-categorias
            [grupo]="form.get('exames')"
            semBarra="true"
            (botaoSelecionarEmitter)="selecionarExame($event)"
          >
            <ng-container *ngIf="this.requisicoesFormService.exameSelecionado">
              <ion-row class="ion-text-center">
                <ion-col></ion-col>
                <ion-col size="auto">
                  <ion-item class="toggle" lines="none">
                    <ion-label position="stacked">Liberar Exame</ion-label>
                    <ion-toggle
                      class="toggleExame"
                      [disabled]="this.requisicoesFormService.exameSelecionado.value.situacao === 'Aguardando Amostras' || this.requisicoesFormService.exameSelecionado.value.situacao === 'Aguardando Resultados'"
                      [checked]="this.requisicoesFormService.exameSelecionado.value.situacao === 'Finalizado'"
                      color="success"
                      (ionChange)="liberarExame($event)"
                    ></ion-toggle>
                  </ion-item>
                </ion-col>
                <ion-col></ion-col>
              </ion-row>

              <ion-row class="header ion-text-center">
                <ion-col>Campo</ion-col>
                <ion-col>Resultado</ion-col>
                <ion-col>Ref.</ion-col>
              </ion-row>
              <ng-container
                *ngFor="let campo of requisicoesFormService.campos.controls"
              >
                <!-- <ion-row class="ion-align-items-center ion-align-items-stretch ion-text-center "> -->
                <ion-row
                  class="ion-text-center"
                  *ngIf="campo.value.tipoDeDado !== 'fórmula'"
                >
                  <ion-col class="bordaDireita coluna-azul"
                    ><ion-label>{{campo.get('nome').value}}</ion-label></ion-col
                  >
                  <ion-col class="bordaDireita">
                    <ion-input
                      [formControl]="campo.get('resultado')"
                    ></ion-input>
                  </ion-col>
                  <ion-col class="semBorda coluna-azul">
                    <ion-label
                      >{{campo.get('valorMinimo').value || ''}} -
                      {{campo.get('valorMaximo').value || ''}}</ion-label
                    >
                  </ion-col>
                </ion-row>
              </ng-container>
            </ng-container>
          </app-card-categorias>
        </ng-container>
      </ng-container>
    </app-view-container>
  </ion-content>

  <ion-footer>
    <ion-toolbar class="ion-text-center">
      <ion-button
        *ngIf="modoEdicao && (isAdmin || form.value.situacao === 'Aguardando Amostras')"
        color="danger"
        (click)="removerRequisicao()"
      >
        Excluir
      </ion-button>
      <ion-button (click)="gerarLaudo()" color="secondary">
        Laudo
      </ion-button>
      <!-- *ngIf="isAdmin || form.value.situacao === 'Aguardando Amostras'" -->
      <ion-button (click)="salvar()" color="success">
        Salvar
      </ion-button>
      <!-- <ion-button (click)="testarForm()" color="success">
        Teste
      </ion-button> -->
    </ion-toolbar>
  </ion-footer>
</ng-container>
