ion-badge {
  margin-right: 8px;
}

.header {
  background-color: var(--ion-color-primary);
  color: var(--ion-color-primary-contrast);
}

.direita {
  float: right;
}

.coluna-azul {
  background-color: rgba(28, 255, 247, 0.142);
  text-overflow: ellipsis;
}

.bordaDireita {
  border-style: solid;
  border-color: rgba(128, 128, 128, 0.2);
  border-width: 1px;

  border-top: 0;
  border-left: 0px;
}

.semBorda {
  border-style: solid;
  border-color: rgba(128, 128, 128, 0.2);
  border-width: 1px;

  border-top: 0;
  border-right: 0px;
  border-left: 0px;
}

.toggleExame {
  transform: translateX(10px);
}
.toggleResultado {
  transform: translateX(15px);
}
