<ng-container>
  <ion-header>
    <ion-toolbar
      class="ion-text-center"
      color="primary"
    >
      <ion-title>Autenticação</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <app-view-container>
      <app-usuario-cadastro
        [formGrupoCadastro]="cadastroForm"
        [formGrupoLogin]="loginForm"
        (cadastro)="cadastrarUsuario()"
        (login)="login()"
      >
        <div
          class="erro"
          [ngClass]="animacao"
          *ngFor="let erro of listaErros"
        >
          {{erro}}
        </div>
      </app-usuario-cadastro>
    </app-view-container>

  </ion-content>
</ng-container>
