.erro {
  background-color: var(--ion-color-danger);
  color: var(--ion-color-danger-contrast);
  opacity: 0;
}

.fadeIn {
  animation-name: fadeIn;
  animation-duration: 10s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
}
