<app-card-categorias
  titulo="Espécies"
  [lista]="especies"
  [botaoSelecionadoIndice]="especieSelecionadaIndice"
  (botaoSelecionarEmitter)="especieSelecionadaEmitter($event)"
  (botaoAdicionarEmitter)="adicionarEspecie()"
  (botaoRemoverEmitter)="removerEspecie()"
>
  <ng-container *ngIf="especieSelecionada">
    <app-input-busca
      [controleFormulario]="especieSelecionada.controls.nome"
      [listaString]="listaEspecies.itens"
      label="Espécie"
    >
    </app-input-busca>
  </ng-container>

  <div *ngIf="especieSelecionada">
    <!-- Cabeçalho -->
    <ion-row class="tabHeader ion-text-center ion-align-items-center">
      <ion-col size="4">Faixa de Idade</ion-col>
      <ion-col size="4">Valor</ion-col>
      <ion-col>
        <ion-button size="small" color="success" (click)="adicionarReferencia()">
          <ion-icon name="add" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
    <!-- Tabela -->
    <div [formGroup]="referencias">
      <ion-row
        [formGroupName]="i"
        *ngFor="let referencia of referencias.controls; let i = index"
        class="ion-text-center"
      >
        <ion-col class="coluna-azul  bordaDireita" size="2">
          <ion-input formControlName="idadeMinima"></ion-input>
        </ion-col>
        <ion-col class="coluna-azul bordaDireita" size="2">
          <ion-input formControlName="idadeMaxima"></ion-input>
        </ion-col>
        <ion-col size="2" class="bordaDireita">
          <ion-input formControlName="valorMinimo"></ion-input>
        </ion-col>
        <ion-col size="2" class="semBorda">
          <ion-input formControlName="valorMaximo"></ion-input>
        </ion-col>
        <ion-col>
          <ion-button size="small" color="danger" (click)="removerReferencia(i)">
            <ion-icon name="trash" slot="icon-only"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </div>
  </div>
</app-card-categorias>
